:root {
    --light-white: #FCFCFC;
    --pink: #DB00FF;
    --blueice: #00FFFF;
    --minimal-black: #454545;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
}