#card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 350px;
    height: 190px;
    padding: 30px;

    border: 1px solid black;
    border-radius: 20px;

    transition-property: width,height;
    transition-duration: 1s;
}

#card-container:hover {
    width: 400px;
    height: 230px;

    transition-property: width,height;
    transition-duration: 0.5s;
}


#card-container p {
    text-align: center;
    align-content: center;

    color: var(--minimal-black);
}

#card-container p:nth-child(1){
    font-weight: bold;
}

#card-container p:nth-child(2) {
    font-weight: lighter;
}

